[submodule "lib/libkext"]
	path = lib/libkext
	url = https://github.com/mslxnu/libkext
[submodule "lib/xnu"]
	path = lib/xnu
	url = https://github.com/apple-oss-distributions/xnu.git
        ignore = dirty
[submodule "lib/MacKernelSDK"]
	path = lib/MacKernelSDK
	url = https://github.com/acidanthera/MacKernelSDK.git
